* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/etoiles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#retour {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#retour i {
  color: white;
  font-size: 50px;
}

section {
  align-items: center;
  justify-content: center;
  display: flex;
  place-items: center;
  flex-direction: column;
}

#questions_part {
  width: 30%;
}

input {
  padding: 5px;
  width: 100%;
  font-size: 20px !important;
  position: relative;
}

#registered_answer,
#bad_answer {
  display: none;
  color: rgb(255, 0, 0);
}

#avancement {
  color: white;
}

#avancement_and_last_country {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 0px 5px;
}

#last_country {
  color: white;
  max-lines: 1;
}

#answers {
  background-color: white;
  margin-bottom: 20px;
}

.case {
  width: 25%;
  padding-left: 5px;
}

th {
  background-color: #557cba;
}
td {
  background-color: #ced4e5;
}
th,
td {
  padding: 0.7em;
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.transparent {
  color: #ced4e5;
}

.selectable {
  background-color: rgb(255, 255, 132);
  color: rgb(255, 255, 132);
}

#questions_part {
  padding: 100px 0px;
}

#flag_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#flag {
  width: 50%;
  height: auto;
}

#abandonner {
  padding: 7px;
  background-color: red;
  color: white;
  cursor: pointer;
  height: min-content;
  font-size: 17px;
}

#input_button {
  display: flex;
  gap: 5px;
}

#input {
  width: 100%;
}